* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Neue", cursive;
}

colors {
  color: #807865;
  color: #806d3e;
  color: #ccae64;
  color: #ffda7d;
  color: #fff0c9;

  color: rgb(255, 251, 234);
}

body {
  background: #cec2a4;
  height: 100%;
  color: #4d3706;
}

main {
  background:rgb(255, 251, 234);
}

header {
  height: 220px;
  text-align: center;
  padding: 10px 0px 0px 0px;

  background-image: url("temp-logo2.png");
}

.header-header {
  font-size: 50px;
  margin-bottom: 10px;
  background: rgb(255, 251, 234);
  opacity: 0.9;
  
}

.header-options {
  background-color: transparent;
}

.header-links {
  margin-left: 50px;

  text-decoration: none;
  color: #443514;
  font-size: 30px;

  padding: 0 10px;
  border-radius: 100px;
  background: rgb(255, 251, 234);
}

footer {
  text-align: center;
  margin-top: 15px;
}
